main {
    justify-content: space-around;
}
main form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
main h2 {
    width: 50%;
}
input, button {
    padding: 1%;
    border-radius: 8px;
    font-size: 20px;
    width: 50%;
    border: 1px solid black;
}
select {
    border: none;
    outline: none;
    font-size: 20px;
}
button {
    background-color: transparent;
    width: 30%;
    cursor: pointer;
    transition: 0.3s ease all;
}
button:hover {
    color: white;
    background-color: black;
}
form span:last-child {
    color: white;
}